USE [master]
GO
/****** Object:  Database [UPPart2]    Script Date: 4/6/2019 3:01:28 AM ******/
CREATE DATABASE [UPPart2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UPPart2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UPPart2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UPPart2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UPPart2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UPPart2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UPPart2]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 4/6/2019 3:01:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[FilePath] [varchar](255) NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreeView]    Script Date: 4/6/2019 3:01:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeView](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[parent] [int] NULL,
	[URL] [varchar](255) NULL,
	[PicturePath] [varchar](255) NULL,
 CONSTRAINT [PK_TreeView] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CalendarDetail]    Script Date: 4/6/2019 3:01:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CalendarDetail]
	@Day int,
	@Month int,
	@Year int
AS
BEGIN
	
	SET NOCOUNT ON;
	SELECT        TOP (200) id, Name, FilePath, Day, Month, Year
FROM            Calendar
WHERE        (Day = @Day) AND (Month = @Month) AND (Year = @Year)

  
END
GO
/****** Object:  StoredProcedure [dbo].[InsertFile]    Script Date: 4/6/2019 3:01:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertFile]
	@Name varchar(Max),
	@FilePath varchar(255),
	@Day int,
	@Month int,
	@Year int
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT    
INTO              Calendar(Name, FilePath, Day, Month, Year)
VALUES        (@Name,@FilePath,@Day,@Month,@Year)


END
GO
/****** Object:  StoredProcedure [dbo].[spCalendarByID]    Script Date: 4/6/2019 3:01:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCalendarByID]
	@id int
AS
BEGIN
	
	SET NOCOUNT ON;
	SELECT        TOP (200) id, Name, Day, Month, Year
FROM            Calendar
WHERE        (id = @id)

   
END
GO
USE [master]
GO
